/*grid*/

.about__row {
  display: grid;
  gap: 2rem;
}

.section__content--left-text {
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

.about__box {
  border-radius: var(--border-radius-l);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/*images*/

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about__text {
  background-color: var(--colour-secondary);
  padding: 3rem;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
}

.about__row.about__box {
  display: block;
}

@media (max-width: 768px) {
  .section__content--left-text {
    grid-template-columns: 1fr;
  }
}
