
.about-container {
  max-width: 600px;
  margin: 50px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.tabs {
  display: flex;
  gap: 5px;
  background-color: #e9ecef; /* Butonların arkasındaki koyu alan */
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;
}

.about-img-container{
  width: 100% !important;
 /*max-width: 250px !important; */ 
 /* margin: 20px auto !important;*/ 
  text-align: center !important;
}

.team-img{
    width: 100% !important; 
    height: auto !important; 
    /* max-height: 200px !important; */
    object-fit: contain !important; 
    display: block !important;
}


.tab-btn {
  flex: 1;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 12px;
  transition: all 0.3s ease;
  background-color: transparent;
  color: #6c757d;
}

.about-team-img{
    display: flex;
    height: 200;
    width: 400;
}

.tab-btn:hover{
    background-color: aliceblue;
    color: #000000;
}




.tab-btn.active {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.tab-content {
  display: none; 
  padding: 20px;
  line-height: 1.6;
  color: #333;
  text-align: left;

}


.tab-content.show {
  display: inline;
}

