/* Ask Section */
.ask {
  padding: var(--spacing-xl) var(--spacing-l);
  text-align: left;
}

.ask__label {
  display: block;
  font-size: var(--font-size-subheading);
  margin-bottom: var(--spacing-l);
}

.ask__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.ask__input {
  width: 80%;
  border: 1px solid var(--colour-background-light);
  border-radius: var(--border-radius-s);
  background: var(--colour-background-light);
  color: var(--colour-text-dark);
  padding: var(--spacing-l);
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  line-height: 1.5;
  min-height: 10rem;
}

.suggestion__header {
  text-align: center;
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.ask__button-example {
  z-index: 2;
  right: 0;
  top: var(--spacing-l);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s;
  padding: 0.3rem;
  margin: 0.1rem;
}

.suggestion__buttons {
  margin-left: 5%;
  right: var(--spacing-l);
  top: var(--spacing-l);
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.ask__button-example.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.clear__button {
  opacity: 1;
  cursor: pointer;
}

.clear__button.hidden {
  opacity: 0;
  pointer-events: none;
}



.ask__footer {
  margin-top: var(--spacing-l);
}

@media (min-width: 768px) {
  .ask__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ask__char-count {
  font-style: italic;
}

.ask__char-count.has-error {
  color: var(--colour-secondary);
}

.ask__loading {
  display: none;
}

.loading__more {
  display: none;
}

.ask__loading.is-loading {
  display: block;
}

.loading__more.is-loading {
  display: block;
}