.main-button-container{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
    column-gap: 40px;
    row-gap: 40px;
    padding-top: 60px;
}

.main-button-column-one{
    flex: 1;
    text-align: center;
    padding-right: 10px;
    
}

.main-button-column-two{
    flex: 1;
    text-align: center;
    height: auto;
    object-fit: contain;
   
}

.button-h2{
    color: var(--colour-primary);
}

.button-hr-style-two{
    border-top: 1px dashed rgba(233, 119, 119, 0.363);
}

.second-button-container{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
    column-gap: 40px;
    row-gap: 40px;
}

.second-button-column-one{
    flex: 1;
    text-align: center;
    padding: 30px;
    
}

.second-button-column-two{
    flex: 1;
    padding: 30px;
    text-align: center;
    height: auto;
    object-fit: contain;
   
}




.btn {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  outline: none;
}

.btn-primary {
  background-color: var(--colour-primary);
  color: white;
  border: none;
  
}

.btn-primary:hover {
  background-color: var(--colour-primary-dark);
  color: white;
  border: none;
}

.btn-primary:active {
  transform: translateY(1px); 
  filter: brightness(0.8);   
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.btn-outline{
  background-color: transparent;
  color: var(--colour-primary);
  border: 1px solid var(--colour-secondary);
}

.btn-outline:hover{
  color: var(--colour-primary-dark);
  border-color: var(--colour-primary-dark);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.btn-outline:active {
  transform: scale(0.98); 
}
