.buttons {
  display: flex;
  gap: var(--spacing-l);
  align-items: center;
}

.button {
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: all 0.25s;
  font-family: "Amatic SC", cursive;
}

.button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button--primary {
  border: 1px solid var(--colour-primary);
  background: var(--colour-primary);
  color: var(--colour-text-light);
}

.button--primary:hover {
  background: var(--colour-background-white);
  color: var(--colour-primary);
}

.button--secondary {
  background: transparent;
  border: 1px solid var(--colour-background-light);
  color: var(--colour-primary);
}

.button--secondary:hover {
  border-color: var(--colour-primary);
}



.btn {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  outline: none;
}

.btn-primary {
  background-color: var(--colour-primary);
  color: white;
  border: none;
  
}

.btn-primary:hover {
  background-color: var(--colour-primary-dark);
  color: white;
  border: none;
}

.btn-primary:active {
  transform: translateY(1px); 
  filter: brightness(0.8);   
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.btn-outline{
  background-color: transparent;
  color: var(--colour-primary);
  border: 1px solid var(--colour-secondary);
}

.btn-outline:hover{
  color: var(--colour-primary-dark);
  border-color: var(--colour-primary-dark);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.btn-outline:active {
  transform: scale(0.98); 
}
