:root {
  --mint-leaf: #3ab795ff;
  --celadon: #a0e8afff;
  --muted-teal: #86baa1ff;
  --beige: #edead0ff;
  --golden-pollen: #ffcf56ff;

  --gradient-top: linear-gradient(0deg, var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
  --gradient-right: linear-gradient(90deg, var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
  --gradient-bottom: linear-gradient(180deg, var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
  --gradient-left: linear-gradient(270deg, var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
  --gradient-top-right: linear-gradient(45deg, var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
  --gradient-bottom-right: linear-gradient(135deg, var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
  --gradient-top-left: linear-gradient(225deg, var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
  --gradient-bottom-left: linear-gradient(315deg, var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
  --gradient-radial: radial-gradient(var(--mint-leaf), var(--celadon), var(--muted-teal), var(--beige), var(--golden-pollen));
}
