/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-max);
  padding: var(--spacing-l);
  color: var(--colour-text-light);
  background: transparent;
}
.footer__link a{
  text-decoration: none;
  transition: color 0.3s;
  color: var(--colour-text-light);
}

.footer__link a:hover {
  color: var(--colour-text-dark);
}

.footer__link--long {
  display: none;
}

.footer__links {
  display: flex;
  gap: var(--spacing-m);
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__link--short {
    display: none;
  }
  .footer__link--long {
    display: inline;
  }
}
