@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

/* Variables */
:root {
    --colour-primary: rgb(205, 171, 131);
    --colour-secondary: #ff0080;
    --colour-gradient-1: rgba(215, 212, 186, 0.64);
    --colour-gradient-2: rgba(205, 171, 131, 0.64);
    --colour-background-white: white;
    --colour-background-light: #f0f0f0;
    --colour-background-dark: black;
    --colour-text-light: #2b2d3d;
    --colour-text-dark: #2b2d3d;

    --width-max: 800px;

    --spacing-xs: 8px;
    --spacing-s: 10px;
    --spacing-m: 15px;
    --spacing-l: 20px;
    --spacing-xl: 40px;
    --spacing-xxl: 80px;

    --font-size-heading: 48px;
    --font-size-subheading: 24px;
    --font-size-body: 16px;
    --font-size-small: 12px;
    --font-weight-bold: bold;
    --font-family-body: 'Rhodium Libre', Arial, sans-serif;

    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 20px;

    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: KyivTypeTitling;
    src: url(../fonts/KyivTypeTitling-Black2.ttf);
}
@font-face {
    font-family: KyivTypeHeading;
    src: url(../fonts/KyivTypeTitling-Medium2.ttf);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: var(--font-family-body);
    margin: 0;
    padding: 0;
    text-align: center;
}
