@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  --colour-primary: #7f2fee;
  --colour-secondary: #ff0080;
  --colour-background-white: white;
  --colour-background-light: #e7e7e7;
  --colour-background-dark: #7d7d7d;
  --colour-text-light: #ffffff;
  --colour-text-grey: #6e6e6e;
  --colour-text-dark: #1b1c22;

  --width-max: 800px;

  --spacing-xs: 8px;
  --spacing-s: 10px;
  --spacing-m: 15px;
  --spacing-l: 20px;
  --spacing-xl: 40px;
  --spacing-xxl: 80px;

  --padding-xs: 4px 8px;
  --padding-s: 8px 12px;
  --padding-m: 12px 20px;
  --padding-l: 16px 32px;
  --padding-xl: 20px 40px;
  --padding-xxl: 24px 48px;

  --font-size-heading: 48px;
  --font-size-subheading: 24px;
  --font-size-body: 16px;
  --font-size-small: 12px;
  --font-weight-bold: bold;
  --font-family-body: "Roboto", sans-serif;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;

  --image-height-xs: 80px;
  --image-height-s: 120px;
  --image-height-m: 150px;
  --image-height-l: 200px;
  --image-height-xl: 250px;
  --image-height-xxl: 300px;

  --image-width-xs: 100px;
  --image-width-s: 150px;
  --image-width-m: 200px;
  --image-width-l: 250px;
  --image-width-xl: 300px;
  --image-width-full: 100%;

  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: var(--font-family-body);
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #1b0b36;
}

/* Text Styles */
h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

/* Loading Spinner */
.search__loading {
  display: none;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: green #0000;
  animation: l1 1s infinite;
  margin: 2rem auto;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.search__loading.is-loading {
  display: block;
}
