/* Header */
.header {
  background: linear-gradient(
    196deg,
    var(--colour-primary),
    var(--colour-secondary),
    var(--colour-tertiary)
  );
  background-size: 600% 600%;

  -webkit-animation: moving-gradient 11s ease infinite;
  -moz-animation: moving-gradient 11s ease infinite;
  animation: moving-gradient 11s ease infinite;
  color: var(--colour-text-dark);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xxl);
}

@-webkit-keyframes moving-gradient {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}
@-moz-keyframes moving-gradient {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}
@keyframes moving-gradient {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}

.header__content {
  max-width: var(--width-max);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-l);
}

@media (min-width: 800px) {
  .header__content {
    flex-direction: row;
  }
}

.header__logo img {
  max-width: 75%;
  border-radius: 2.5rem;
}

/* header nav */

.header__nav {
  border-bottom: 1px solid var(--colour-text-dark);
  padding-bottom: 5px;
  display: flex;
  gap: var(--spacing-l);
  margin-top: var(--spacing-l);
}

@media (min-width: 800px) {
  .header__nav {
    margin-top: 0;
  }
}

.header__link {
  color: var(--colour-text-dark);
  text-decoration: none;
  position: relative;
}

.header__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--colour-text-dark);
  opacity: 0;
  transition: all 0.25s;
}

.header__link:hover::after,
.header__link--active::after {
  opacity: 1;
}

/* header titles */

.header__titles {
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.header__title {
  font-size: var(--font-size-heading);
  color: var(--colour-text-dark);
}

.header__subtitle {
  font-size: var(--font-size-subheading);
  color: var(--colour-text-dark);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
