.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-l);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(-1 * var(--spacing-xl));
  background: var(--colour-background-white);
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow);
}

.main img {
  height: 20rem;
}

@media (max-width: 800px) {
  .main img {
    height: 10rem;
  }
}
