.main {
  padding: var(--spacing-l);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(-1 * var(--spacing-xl));
  background: var(--colour-background-white);
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow);
}

.main__title {
  text-align: center;
}

.main__subtitle {
  color: var(--colour-primary);
}

.main__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-l);
}

@media (min-width: 1200px) {
  .main__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-l);
    margin-right: var(--spacing-l);
  }
}

.main__textleft {
  max-width: 50%;
  text-align: center;
}

@media (min-width: 1200px) {
  .main__textleft {
    text-align: center;
  }
}

.divider {
  border: none;
  border-top: 4px dashed rgba(0, 0, 0, 0.1);
  margin: var(--spacing-m);
}

@media (min-width: 1200px) {
  .divider {
    margin-bottom: var(--spacing-l);
  }
}

.main__image img {
  width: var(--image-width-xl);
  height: var(--image-height-l);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow);
}

@media (min-width: 1200px) {
  .main__image img {
    width: var(--image-width-xxl);
    height: var(--image-height-xl);
  }
}

.main__button {
  background-color: var(--colour-primary);
  font-size: var(--font-size-body);
  color: var(--colour-text-light);
  padding: var(--padding-xl);
  border: none;
  border-radius: var(--border-radius-s);
  box-shadow: var(--box-shadow);
}

.main__button:hover {
  background-color: var(--colour-background-white);
  color: var(--colour-primary);
}

@media (min-width: 1200px) {
  .main__button {
    padding: var(--padding-xxl);
    margin-bottom: var(--spacing-l);
  }
}
