.main {
  padding: var(--spacing-l);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(-1 * var(--spacing-xl));
  background: var(--colour-background-dark);
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow);
  color: var(--colour-secondary);
}

.main h2 {
  color: var(--colour-primary);
  font-size: var(--spacing-l);
}

@media (min-width: 800px) {
  .upper_main {
    display: flex;
  }

  .upper_text {
    max-width: 400px;
    margin-left: var(--spacing-l);
    padding: var(--spacing-xxl);
  }

  .lower_main {
    display: flex;
  }
}
