.products {
  display: none;
  text-align: left;
  padding: var(--spacing-l);
  border-top: 2px solid var(--colour-background-light);
}

.products.is-shown {
  display: block;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-l);
  align-items: stretch;
  gap: var(--spacing-l);
}

.products__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--colour-background-white);
  color: var(--colour-text-dark);
  padding: var(--spacing-l);
  border: 1px solid var(--colour-background-light);
  border-radius: var(--border-radius-l);
}

.products__item h3 {
  margin: 10px 0;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2.4em;
}

.products__item p {
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2.4em;
}

.products__img-container {
  width: 100%;

  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
}

.products__item-stars {
  margin-top: auto;
  padding-top: 5px;
}

@media (min-width: 800px) {
  .products__item {
    width: 31%;
  }
}

.products__item-image {
  width: 100%;
}

.products__show-more {
  margin-top: var(--spacing-l);
  padding: var(--spacing-l);
  text-align: center;
}
