.products {
  display: block;
  text-align: left;
  padding: var(--spacing-l);
  border-top: 2px solid var(--colour-background-light);
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-l);
}

.products__item {
  background: var(--colour-background-white);
  color: var(--colour-text-dark);
  padding: var(--spacing-l);
  border: 1px solid var(--colour-background-light);
  border-radius: var(--border-radius-l);
  width: 80%;
}

@media (min-width: 480px) {
  .products__item {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .products__item {
    width: 31%;
  }
}



.products__item-image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.products__show-more {
  display: none;
  margin-top: var(--spacing-l);
  padding: var(--spacing-l);
  text-align: center;
}

.products__show-more--active {
  display: block;
}

.products__no-results {
  text-align: center;
  color: var(--colour-text-muted);
  margin-top: var(--spacing-l);
}
