/* Results */
.results {
  display: none;
  text-align: left;
  padding: var(--spacing-l);
  border-top: 2px solid var(--colour-background-light);
}

.results.is-shown {
  display: block;
}

.results__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-l);
}

.results__item {
  background: var(--colour-background-white);
  color: var(--colour-text-dark);
  padding: var(--spacing-l);
  border: 1px solid var(--colour-background-light);
  border-radius: var(--border-radius-l);
  box-shadow: 0px 5px 5px #946fc9;
}

.results__item:hover {
  transform: scale(1.03);
}

.results__tube-link {
  display: flex;
  flex-direction: row;
}

.results__tube-logo {
  width: 20px;
  margin-left: 10px;
}

.results__show-more {
  margin-top: var(--spacing-l);
  padding: var(--spacing-l);
  text-align: center;
}
