.tabs_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* box shadow used in place of border so that the border doesn't go over the tabs */
    box-shadow: inset 0 -1px 0 var(--colour-tab-border);
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background: var(--colour-background-white);
    border-bottom: 2px solid var(--colour-tab-border);
    /* background: white; */
}

.tab_selected {
    border-bottom: 0;
    border-left: 2px solid var(--colour-tab-border);
    border-right: 2px solid var(--colour-tab-border);
    border-top: 2px solid var(--colour-tab-border);
    border-radius: 3px 3px 0 0;
}